@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Montserrat&family=Playfair+Display:wght@900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* Navbar */
.nav__brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__brand-title {
  color: var(--primary, #468448);
  font-family: Inter;
  font-size: 27.129px;
  font-style: normal;
  font-weight: 800;
  line-height: 100%;
  margin-left: 0.5rem;
}

.NavLinks {
  text-decoration: none;
  margin: 0 0.25rem;

  color: var(--greenish-gray, #4e554f);
  font-family: Inter;
  font-size: 16.695px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.nav__links {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Home */
.home__section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6rem;
}

.home__left {
  flex: 50;
  height: 92vh;
}

.home__right {
  flex: 50;
  height: 92vh;
}

.home__title {
  display: flex;
  width: 658.403px;
  flex-direction: column;
  align-items: flex-start;
  gap: 33.39px;

  margin: 200px 0 200px auto;
}

.home__title-left1 {
  color: var(--primary, #468448);
  font-family: Playfair Display;
  font-size: 70.953px;
  font-style: normal;
  font-weight: 900;
  line-height: 100%; /* 70.953px */
}

.home__title-left2 {
  color: var(--greenish-gray, #4e554f);
  font-family: Playfair Display;
  font-size: 70.953px;
  font-style: normal;
  font-weight: 900;
  line-height: 100%;
}

.home__para {
  color: var(--gray-1, #333);
  font-family: Inter;
  font-size: 21.912px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 30.677px */
  width: 472.673px;
}

.home__title-box1 {
  align-self: stretch;
}

.home__title-box2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25.042px;
  align-self: stretch;
}

.home__btn {
  display: flex;
  width: 201.382px;
  padding: 10.434px;
  align-items: center;
  gap: 12.521px;
  text-decoration: none;

  border-radius: 41.737px;
  border: 2.087px solid #fff;
  background: var(--gray-1, #333);
  box-shadow: 0px 8.347428321838379px 16.694856643676758px 0px
      rgba(0, 0, 0, 0.08),
    0px 0px 4.1737141609191895px 0px rgba(0, 0, 0, 0.04);
}

.home__btn-title {
  flex: 1 0 0;

  color: #fff;
  font-family: Inter;
  font-size: 16.695px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
}

.home__right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__img-box1 {
  width: 322px;
  align-self: stretch;
  height: 100%;
  margin: 2rem 1rem 0 4rem;
}

.home__img-box-2-3 {
  margin: 2rem 4rem auto 0;
}

.home__img-box2 {
  width: 100%;
  align-self: stretch;
  height: 302px;

  margin-bottom: 1.1rem;
}

.home__img-box3 {
  width: 100%;
  align-self: stretch;
  height: 383.982px;
}

.home__img1 {
  border-radius: 18.892px 0px 0px 18.892px;

  object-fit: cover;
  top: 0;
  left: 0;
}

.home__img2 {
  border-radius: 0px 18.892px 0px 0px;

  object-fit: cover;
  top: 0;
  left: 0;
}

.home__img3 {
  border-radius: 0px 0px 18.892px 0px;

  object-fit: cover;
  top: 0;
  left: 0;
}
